.Blackboard {
  margin-top: 10px;
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 1vmin);
  color: white;
  
  margin-bottom: 10px;
}

.Container {
  margin: 0 auto;
  max-width: 600px;
}

.Number {
  margin-top: 10px;
  border-width: 2px;
  font-size: calc(30px + 2vmin);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:cadetblue;
  border-radius: 30px;
  border-color: chocolate;
}

.Emoji {
  min-height: calc(80px + 4vmin);
  font-size: calc(20px + 2vmin);
}

.Streak {
  font-size: calc(15px + 2vmin);
  text-align: right;
}

.PlayerName {
  font-size: calc(15px + 2vmin);
  text-align: left;
}

.HighScores {
  background-color: beige;
  padding: 10px;
  font-size: calc(15px + 2vmin);
}